@import "../Mixins/Mixins";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.one{
    width: 1366px;
    height: 69.9px;
    @include flexCenter();
    background-color: white;
    label{
        width: 378.17px;
        height: 40px;
        @include flexEnd();
        position: relative;
        input{
            width: 100%;
            height: 100%;
            background: #E8EAEB;
            border-radius: 25px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: #BABABA;
            outline: none;
            border: none;
            padding-left: 20.99px;
        }
        .icon{
            position: absolute;
            width: 32px;
            height: 32px;
            background-color: #0008C1;
            border-radius: 50%;
            @include flexCenter();
            right: 4.58px;
            svg{
                color: white;
                width: 22px;
                height: 22px;
            }
        }
    }
}